* {
    font-family: Impact;
}

Body {
     background-color:whitesmoke;
}

.grid {
   display: grid;
   height: auto;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
}

.title {
   background-color:  #3c168a;
   color: whitesmoke;
   grid-column-start: 1;
   grid-column-end: 13;
   grid-row-start: 1;
   grid-row-end: 2;
   text-align: center;
}

#answer {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end:9;
}
#answer2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end:10;
}
#answer3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end:11;
}
#answer4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end:12;
}



.header {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    color: black;
}

#submit {
    background-color: skyblue;
    color: whitesmoke;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
    padding: 10px;
}

#nextQ1 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 14;
    grid-row-end:15;
}
#nextQ2 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end:15;
}#nextQ3 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 14;
    grid-row-end:15;
}#nextQ4 {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end:15;
}

#content {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: palegoldenrod;
    margin-top: 10px;
    margin-bottom: 10px;

}

.header {
    grid-column-start:6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}



.footer {
    background-color:  #3c168a;
    color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 17;
    grid-row-end: 18;
    text-align: center;
}